* {
  box-sizing: border-box;
  margin: 0;

}
:root {
  --side-nav-width: 275px
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  --twitter-color: #50b7f5;
  --twitter-background: #e3e3e3;
}

.main-container {
  display: flex !important;
  justify-content: center;
}

.bar {
  width: var(--side-nav-width);
  position: relative;
}

.aside {
  flex-direction: column;
  align-items: flex-end;
}

.side-nav .header-container {
  position: fixed;
  width: var(--side-nav-width);
}

.side-nav .header-container .item {
  padding: 1rem;
  /* background-color: #50b7f5; */
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: 1rem;
}

.side-nav .header-container .item:hover {
  background-color: black;
  cursor: pointer;
}

.feed {
  max-width: 600px;
}

::-webkit-scrollbar {
  display: none
}


.feed__header {
  position: sticky;
  top: 0;
  border-top: 1px solid var(--twitter-background);
  border-bottom: 1px solid var(--twitter-background);
  padding: 15px 20px;
  display: flex;
}

.feed__header>h2 {
  font-size: 20px;
  font-weight: 800;
}



.post {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  width: 100%;
}

.post a {
  text-decoration: none;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__body>img {
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

/* .post__footer button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: .25rem .5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: .3rem;
  color: white;
} */

/* .post__footer button:hover {
  background-color: rgba(255, 0, 0, 0.3);
  color: rgba(255, 0, 0, 0.7);

} */

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__headerText>h3 {
  font-size: 15px;
  margin-bottom: 5px;
}
.post__headerText{
  display: flex;
    justify-content: space-between;
}
.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__avatar {
  padding: 20px;
}

/* login */

.center-vertical {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .side-nav.collapsed{
  width: 30px;
} */
.bottom-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 60px;
  z-index: 1000;
  background-color: beige;
}

.aside {
  margin-left: 1rem;
}

.comment-border-link {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 12px;
  height: calc(100% - 50px);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}